@charset "utf-8";
/* CSS Document */

row{
	float:left;
}

body{
	padding:50px;
}

img{
	max-width:100%;
	height:auto;
	padding:5px;
}


.thumbnail{
	float:left;
	padding:15px;
}

footer{
	alignment-adjust:center;
}

@media screen and (max-width:500px){
	section{
		max-width:100%;
		height:auto;
		align-content:center;
	}
}
